<footer class="footer">

  <div class="row">

    <div class="span2">
      <ul class="unstyled" >
	    <li><strong>Basic Data</strong><li>
		<li><%= link_to "Vendors", vendors_path %></li>
		<li><%= link_to "Servicelevels", servicelevels_path %></li>
		<li><%= link_to "Hardware", hardwares_path %></li>
	  </ul>
	</div>

    <div class="span1">
      <ul>
		<li><%= link_to "About", static_about_path %>
	  </ul>
	</div>

    <div class="span9">
      <p class="pull-right">
	    <small>© 2013 by Johann Kropf. All rights reserved</small>
	  </p>
	</div>

  </div>
<!--
  <small>
    © 2013 by Johann Kropf
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
  -->
</footer>
