<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
   <div class="navbar-header">

     <div class="navbar-brand">
         <%= link_to "Maintenance", '#', id: "logo" %>
     </div>
   </div>

   <div>
     <ul class="nav navbar-nav">
        <li><%= link_to "Contracts", hwservices_path %></li>

        <% if session[:user_id] %>
          <li class="dropdown">  
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">User settings</a></li>
              <li><%= link_to 'Log out', logout_path, :method => :delete  %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
     </ul>
   </div>
</nav>
